.BannerHeroContent {
    display: flex;
    align-content: center;
    /*     align-items: center;
 */
    gap: 0.8rem;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1rem;

}

.BannerHeroContent div {
    width: 50%;
    align-self: center;
}

.BannerHeroContent h1 {
    font-size: 1rem;
    color: var(--important-color);
}

.BannerHeroContent p {
    font-size: 0.7rem;
    color: var(--light-color);
}

.BannerHeroContent span img {
    object-fit: cover;
    border-radius: 0.8rem;
}

.BannerHeroImg {
    position: relative;
    width: 100%;
    height: 100%;
}

.BannerHeroImg span img {
    object-fit: cover;
    border-radius: 0.8rem;
}

.BannerHeroImg::after {
    border-radius: 0.8rem;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgba(0, 0, 0, 0.5);

}