.Registration,
.Facturacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Registration span,
.LogIn span,
.Facturacion span {
  display: flex;
  gap: 0.5rem;
  background-color: var(--buttoms-colors);
  padding: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 20%);
  margin-bottom: 1rem;
}
.Registration span div svg,
.LogIn span div svg,
.Facturacion span div svg {
  font-size: 1.5rem;
  font-weight: 900;
}
.Registration span div,
.LogIn span div,
.Facturacion span div {
  font-size: 0.8rem;
}

.Registration input,
.Registration select,
.LogIn input,
.Facturacion input,
.Facturacion select {
  width: 8.7rem;
  height: 1.7rem;
  margin-bottom: 0.5rem;
  font-size: 0.8em;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--buttoms-colors);
  padding: 0rem 0.5rem;
  outline-color: var(--buttoms-colors);
  color: var(--secondary-font-color);
}
.Registration select,
.Facturacion select {
  font-size: 0.66em;
}
.Registration select option {
  color: var(--primary-font-color);
}

.Registration input[type="radio"],
.Facturacion input[type="radio"] {
  width: 0.9rem;
  align-self: center;
  margin-bottom: 0rem;
  outline-color: var(--buttoms-colors);
}

.Registration label,
.Facturacion label {
  width: 92%;
  font-size: 0.8rem;
  align-self: center;
}

.Registration input[type="email"],
.Registration input[type="tel"],
.Facturacion input[type="email"],
.Facturacion input[type="tel"] {
  width: 20rem;
}

.Registration input::placeholder,
.LogIn input::placeholder,
.Facturacion input::placeholder {
  font-size: 0.6rem;
}

.Registration input[type="submit"],
.LogIn input[type="submit"],
.Facturacion input[type="submit"] {
  margin-top: 0.5rem;
  width: 100%;
  height: 2.5rem;
  background-color: var(--buttoms-colors);
  border: none;
  border-radius: 0.5rem;
}

.Registration textarea,
.Facturacion textarea {
  width: 20rem;
  height: 5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--buttoms-colors);
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.8rem;
  outline-color: var(--buttoms-colors);
}

.LogIn {
  margin: 1rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pagosFormularioFacturacion {
  margin: 1rem 0rem;
}

.pagosFormularioFacturacion form input:nth-child(6) {
  width: 20rem;
}

.pagosDelivery form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.pagosDelivery form label {
  width: 90%;
  font-size: 0.8rem;
  font-weight: 500;
}

.pagosCupones form input {
  width: 15rem;
  height: 1.7rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  border: 0.1rem solid var(--buttoms-colors);
  padding: 0rem 0.5rem;
  outline-color: var(--buttoms-colors);
}

.pagosCupones form input[type="submit"] {
  width: 5rem;
  background-color: var(--buttoms-colors);
  border: none;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  outline-color: var(--buttoms-colors);
}

.metodoPago form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem;
}

.metodoPago form label {
  width: 90%;
  font-size: 0.8rem;
  font-weight: 500;
}
.metodoPago form input[type="radio"]:nth-of-type(3) {
  align-self: flex-start;
  margin-top: 1rem;
}
