.GeneralPagesMContainer {
    padding: 0rem 1rem;
}

.GeneralPagesHero {
    position: relative;
    margin-bottom: 1rem;
}

.GeneralPagesContent h2 {
    font-size: 1rem;
    color: var(--important-color);
    margin-bottom: 1rem;
}

.GeneralPagesContent p {
    font-size: 0.7rem;
    color: var(--primary-font-color);
    margin-bottom: 1rem;
}

.GeneralPagesImg {
    margin-bottom: 1rem;
}

.GeneralPagesImg div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.GeneralPagesImg img {
    object-fit: cover;
    border-radius: 0.8rem;
}

.GeneralPagesImgThree {
    display: flex;
    gap: 0.5rem;
}

.GeneralPagesInnerImgThree {
    width: 55%;
    height: 13.7rem;
}

.GeneralPagesImgThree img {
    object-fit: cover;
    border-radius: 0.8rem;
}
.GeneralPagesInnercContent{
    width: 42%;
}