.LoginContainerM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}
.LoginContainerM form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.LoginContainerM form input {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.8rem;
  border: none;
  padding-left: 1rem;
  font-size: 0.9rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

.LoginContainerM form input[type="submit"] {
  background-color: var(--buttoms-colors);
}

.LoginContainerM .AditionalContent {
  width: 100%;
  margin-top: 1rem;
}

.LoginContainerM .AditionalContent p a {
  color: var(--important-color);
  text-decoration: none;
  font-weight: bold;
}

.LoginContainerM .AditionalContent li {
  margin-top: 0.5rem;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .LoginContainerM {
    display: none;
  }
}
