@media (min-width: 768px) {
  .nosotrosMContainer {
    display: none;
  }
}

.nosotrosMContainer {
  padding: 1rem 1rem 0rem 1rem;
}

.nosotrosHero {
  position: relative;
}
.BannerHeroContent {
  display: flex;
  align-content: center;
  gap: 0.8rem;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 1rem;
}

.BannerHeroContent div {
  width: 50%;
  align-self: center;
}

.BannerHeroContent h1 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--important-color);
}

.BannerHeroContent p {
  font-size: 0.7rem;
  color: var(--light-color);
}

.BannerHeroContent span img {
  object-fit: cover;
  border-radius: 0.8rem;
}

.BannerHeroImg {
  position: relative;
  width: 100%;
  height: 100%;
}

.BannerHeroImg span img {
  object-fit: cover;
  border-radius: 0.8rem;
}

.BannerHeroImg::after {
  border-radius: 0.8rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.5);
} 

.infoImg img {
  object-fit: cover;
  border-radius: 0.8rem;
}

.nosotrosMicbelInfo {
  display: grid;
  grid-gap: 1rem;
  margin: 1.5rem 0rem;
}

.nosotrosMicbelInfo h2 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--important-color);
}

.infoInnerContent {
  display: flex;
}

.nosotrosMicbelInfo p {
  font-size: 0.7rem;
  padding: 0.2rem 0rem;
}

.nosotrosContactForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formImg {
  position: relative;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.formImg ::after {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
}

.formImg img {
  object-fit: cover;
  border-radius: 0.8rem;
}

.formContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
}

.formContent form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
  gap: 0.4rem;
}

.formContent form input {
  width: 48.7%;
  height: 2rem;
  padding: 0.3rem 0.1rem 0.6rem 0.5rem;
  margin: 0.03rem 0rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.formContent form :nth-child(5) {
  width: 100%;
}

.formContent form textarea {
  width: 100%;
  height: 7rem;
  padding: 0.8rem 0.1rem 0.6rem 0.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.formContent form input::placeholder,
.formContent form textarea::placeholder {
  font-size: 0.6rem;
}

.formContent form button {
  width: 100%;
  height: 1.6rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}
