.PoliticasMContainer {
    padding: 0rem 1rem;
}

.politicasHero {
    position: relative;
    margin-bottom: 1rem;
}

.politicasContent h2 {
    font-size: 1rem;
    color: var(--important-color);
    margin-bottom: 1rem;
}

.politicasContent p {
    font-size: 0.7rem;
    color: var(--primary-font-color);
    margin-bottom: 1rem;
}

.politicsImg {
    margin-bottom: 1rem;
}

.politicsImg div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.politicsImg img {
    object-fit: cover;
    border-radius: 0.8rem;
}

.politicsImgThree {
    display: flex;
    gap: 0.5rem;
}

.politicsInnerImgThree {
    width: 55%;
    height: 10rem;
}

.politicsImgThree img {
    object-fit: cover;
    border-radius: 0.8rem;
}
.politicsInnercContent{
    width: 42%;
}